#root {
  background-color: dimgray;
}

h2.ui.header {
  color: white;
}

.title {
  margin: 0 auto !important;
}
.choices {
  margin: 0 auto !important;
}

.mainBody {
  max-width: 21cm;
  max-height: 29.7cm;
  margin: 20px auto;
  padding: 30px;
  border-width: 5px;
  border-style: outset;
  background-color: white;
}

.personalBody {
  border-bottom: 2.8px solid darkgrey;
  margin: 0 !important;
}

.name {
  font-size: 3vh;
  letter-spacing: 3px;
  padding-left: 0 !important;
}

.name .role {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.5px;
  padding-left: 4px;
}

.pdetails {
  margin-top: 10px;
  /* margin-bottom: 25px; */
  font-size: 0.8rem;
  line-height: 14px;
  padding-right: 0 !important;
  letter-spacing: 1.5px;
}
.pdetails .address {
  font-weight: 700;
}

.sectionHeader {
  padding-left: 4px;
  margin-top: 14px;
  letter-spacing: 2px;
}

div .sectionHeader {
  width: 300px;
  height: 25px;
  background: white;
  position: relative;
  margin-top: 0;
}

div .sectionHeader:before {
  content: "";
  width: 45px;
  height: 3px;
  background: darkgrey;
  position: absolute;
  bottom: -3px;
}

.mainContent {
  border-bottom: 2.8px solid darkgrey;
  padding-bottom: 15px;
  margin-top: 15px;
}

.subContent {
  padding-bottom: 15px;
  margin-top: 15px;
}

.contentTimeline {
  position: relative;
  margin: 0;
}

.contentTimeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: darkgrey;
  top: 0;
  bottom: 0;
  margin-left: -15px;
  margin-bottom: 0px;
}

.contentItem {
  /* padding: 10px 40px; */
  position: relative;
  background-color: inherit;
  /* width: 50%; */
}

.contentItem::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  margin-top: 5px;
  /* right: -17px; */
  margin-left: -20px;
  background-color: darkslategray;
  border: 4px solid darkslategray;
  border-radius: 50%;
  z-index: 1;
}
.roleItem {
  font-weight: bolder;
}

.ui.grid {
  margin: 0;
}
